[submodule "vim/vim-dir/bundle/fuzzyfinder"]
	path = vim/vim-dir/bundle/fuzzyfinder
	url = git@github.com:mostlygeek/FuzzyFinder.git
[submodule "vim/vim-dir/bundle/vim-scala"]
	path = vim/vim-dir/bundle/vim-scala
	url = git@github.com:mostlygeek/vim-scala.git
[submodule "vim/vim-dir/bundle/delimiteMate"]
	path = vim/vim-dir/bundle/delimiteMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/vim-dir/bundle/vim-markdown"]
	path = vim/vim-dir/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim-dir/bundle/vim-ruby"]
	path = vim/vim-dir/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim-dir/bundle/ack.vim"]
	path = vim/vim-dir/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim-dir/bundle/zencoding"]
	path = vim/vim-dir/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/vim-dir/bundle/self"]
	path = vim/vim-dir/bundle/self
	url = git://github.com/megaannum/self.git
[submodule "vim/vim-dir/bundle/scala_commenter"]
	path = vim/vim-dir/bundle/scala_commenter
	url = git://github.com/megaannum/scala_commenter.git
